<h1>Listing groups_events</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_events.each do |groups_event| %>
  <tr>
    <td><%= groups_event.group_id %></td>
    <td><%= groups_event.event_id %></td>
    <td><%= link_to 'Show', groups_event %></td>
    <td><%= link_to 'Edit', edit_groups_event_path(groups_event) %></td>
    <td><%= link_to 'Destroy', groups_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Groups event', new_groups_event_path %>
